name: Reusable Deploy
on: 
  workflow_call:
    inputs:
      artifact-name:
        required: true
        type: string
        description: 'Name of the artifact to deploy'

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Get Code
        uses: actions/download-artifact@v5
        with:
          name: ${{ inputs.artifact-name }}
      - name: List contents
        run: ls
      - name: Output Information
        run: |
          echo "Deploying..."